{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">


    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
  <!-- Like -->
  {% if user.is_authenticated %}
  <div class="text-center">
      <a id="like" style="cursor: pointer;" class="text-center" data-url="{% url 'like_api' object.id %}"><i
              style="color: red" class="
              like-icon
              {% if user in object.liked.all %}
              fas fa-heart fa-3x
              {% else %}
              far fa-heart fa-3x
              {% endif %}
              " id="like-icon"></i></a>
      <h6 id="likes_count" style="color: red">{{object.liked.count}}</h6>
  </div>
  {% endif %}


  <!-- Comment Form -->
  {% if user.is_authenticated %}
  <div class="card my-4">
      <h5 class="card-header">Leave a Comment:</h5>
      <div class="card-body">
          <form method="POST" action="{% url 'add_comment' object.id %}">
              {% csrf_token %}
              <div class="form-group">
                  <textarea class="form-control" name="text" rows="3" required></textarea>
                  <input type="hidden" name="user_id" value="{{user.id}}">
              </div>
              <button class="btn btn-primary" type="submit">Comment</button>
          </form>
      </div>
  </div>
  {% else %}
  <a href="{% url 'login' %}" class="btn btn-success btn-lg btn-block mb-4">
      Login to comment and like the post.
  </a>
  {% endif %}

  <!-- Single Comments -->
  {% for comment in post.comments.all %}
  {% if comment.approved_comment %}
  <div class="media mb-4">
      <img class="d-flex mr-3 rounded-circle article-img" src="{{ comment.author.profile.image.url }}" alt="">
      <div class="media-body">
          <h5 class="mt-0"><a href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a></h5>
          {{ comment.text|linebreaks }}
          <hr>
      </div>
  </div>
  {% else %}
  <div class="alert alert-secondary" role="alert">
      No Comment has been posted.
  </div>
  {% endif %}
  {% endfor %}
{% endblock content %}